* {
    font-family: "Poppins", sans-serif;
}

body {
    box-sizing: border-box;
    background-image: url("../src/luminary.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0rem;
    padding: 0rem;
    min-height: 100vh;
}

#menu {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    flex-grow: 1;
    justify-content: start;
    margin-left: 50px;
}

nav ul li {
    display: inline-block;
}

.menu-item {
    padding: 0 0.75rem 0 0.75rem;
}

#img{
    width: auto;
    height: 3.5rem;
}
.menu-item a {
    display: block;
    height: 3.625rem;
    line-height: 3.625rem;
    text-decoration: none;
    color: rgb(107, 114, 128);
    font-size: 0.875rem;
}

#user {
    display: flex;
}
#user>.menu-item{
    display: inline-flex;
    flex-direction: row;
}

#userLogo{
    width: auto;
    height: 1.5rem;
    margin-right: 10px;
}

nav{
    padding: 10px;
    background-color: rgb(255, 255, 255);
}


