* {
    color: white;
    font-family: "Poppins", sans-serif;
}

body, html{
    margin: 0rem;
    padding: 0rem;
    width: 100%;
    height: 100%;
}

@keyframes fade-up {
    0%{
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}


body {
    background-image: url("../src/luminary.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    min-width: 250px;
    min-height: 100vh;
    display: grid;
    place-content: center;

}

form{
    animation: fade-up 1.5s;
}

.logoImg {
    animation: fade-up 1.5s;
}

.container {
    display: flex;
    margin: 0 0 30px 0;
    justify-content: center;
}